.aboutContainer {
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  animation: fadeIn 2s;
}

.tagline {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  max-width: 80%;
  color: rgb(165, 141, 109);
}

.headingIcon {
  height: 50px;
  width: 50px;
  
  margin-right: 10px;
}

.headingContainer1 {
  display: flex;
  align-items: left;
  justify-content: start;
  padding: 40px;

  width: 80%;
  margin-left: 20px;

  border-radius: 10px;
}

.headingContainer {
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 40px;

  width: 80%;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.restContent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.boxHeading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.aboutSection {
  width: 100%;
  background:#b84234;
  background: linear-gradient(to right, rgba(170, 54, 41, 0.2), rgba(184, 66, 52, 0)) ;
  backdrop-filter: blur(10px);

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.sectionContent1 {
  color: #1d1c1c;

  padding: 20px;
}

.squareBox {
  width: 500px;
  height: auto;

  backdrop-filter: blur(10px);
  padding: 40px;
  border: 1px solid lightgrey;
  background-image: linear-gradient(to right, rgba(170, 54, 41, 0.2), rgba(184, 66, 52, 0));
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}



.squareBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.approachSection {
  width: 100%;
  background-color: #b84234;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.approachContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.imageContainer {
  flex: 1;
  position: relative;
  margin-right: 20px;
}

.approachImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.quote {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(221, 213, 213, 0.8);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  width: 80%;
}

.textContainer {
  flex: 1;
  padding-left: 20px;
  color: white;
  display: grid;
  height: 100vh;
}

.para {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.approachSection h1 {
  color: white;
  font-size: 2rem;
}

.para p {
  color: #000000;
  font-size: 1.6rem;
}

h1,
h2 {
  color: #151414;
  text-align: center;
}

h3 {
  color: #b84234;
  text-align: center;
  font-size: 2rem;
}

p {
  color: #1f1f22;
  font-size: 1.2rem;
}

.valuesSection {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.stripe {
  background-color: #b84234;
  height: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .tagline {
    font-size: 5vw;
  }

  .squareBox {
    width: 100%;
    padding: 20px;
  }

  .aboutSection {
    flex-direction: column;
  }

  .approachContent {
    flex-direction: column;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .textContainer {
    padding-left: 0;
  }
}
