.aboutContainer {
  max-width: 1400px;
  margin: 0 auto;
}

.banner {
  position: relative;
    text-align: left;
    background-image: url('Aboutus.jpg');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; 
    overflow: hidden;
  animation: fadeIn 2s;
}

.tagline {
  position: absolute;
  top: 40%; 
  left: 35%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.tagline h2 {
  font-size: 3rem;
  color: #b84234;
}

.tagline p {
  font-size: 1.5rem; 
  color: black;
}

.headingIcon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.headingContainer {
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 40px;
  width: 80%;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.restContent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.boxHeading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.aboutSection {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.sectionContent1 {
  color: #1d1c1c;
  padding: 20px;
  text-align: center;
}

.sectionContent1 p {
  font-size: 1.5rem;
}

.squareBox {
  width: 500px;
  height: auto;
  backdrop-filter: blur(10px);
  padding: 40px;
  border: 1px solid lightgrey;
  background-image: linear-gradient(to top, rgba(123, 30, 20, 0.2), rgba(184, 66, 52, 0));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.squareBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.approachSection {
  width: 100%;
  background-color: #b84234;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.approachContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.imageContainer {
  flex: 1;
  position: relative;
  margin-right: 20px;
}

.approachImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.quote {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(221, 213, 213, 0.8);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  width: 80%;
}

.textContainer {
  flex: 1;
  padding-left: 20px;
  color: white;
  display: grid;
  height: 100vh;
}

.para {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.approachSection h1 {
  color: white;
  font-size: 2rem;
}

.para p {
  color: #000000;
  font-size: 1.6rem;
}

h1,
h2 {
  color: #151414;
  text-align: center;
}

h3 {
  color: #b84234;
  text-align: center;
  font-size: 2rem;
}

p {
  color: #1f1f22;
  font-size: 1.2rem;
}

.valuesSection {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.stripe {
  background-color: #b84234;
  height: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.teamSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.teamBox {
  display: flex;
  justify-content: center;
  width: calc(100% - 40px);
  max-width: 400px;
  gap: 20px;
  background-image: linear-gradient(to top, rgba(123, 30, 20, 0.2), rgba(184, 66, 52, 0));
  border-radius: 5px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: fit-content;
  width: 100%;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid lightgray;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.teamMember:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: lightgray;
}

.teamImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .banner {
    height: 40vh;
  }

  .tagline {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .tagline h2 {
    font-size: 2.5rem;
  }

  .tagline p {
    font-size: 1rem; 
  }

  .squareBox {
    width: 100%;
    padding: 20px;
  }

  .aboutSection {
    flex-direction: column;
  }

  .approachContent {
    flex-direction: column;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .textContainer {
    padding-left: 0;
  }

  .teamBox {
    flex-direction: column;
    align-items: center;
  }

  .teamMember {
    width: 100%;
    margin-bottom: 20px;
  }
}
