.footer {
  width: 100%;
  background-color: #f4f4f4;
  padding: 40px 20px;
  color: #333;
  font-family: Arial, sans-serif;
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.leftSection, .rightSection {
  flex: 1;
  min-width: 250px;
}

.leftSection {
  text-align: left;
}

.leftSection p {
  font-size: 1.5rem;
  color: black;
}

.rightSection {
  text-align: right;
}

.rightSection p {
  font-size: 1.5rem;
}

.description {
  color: #333;
}

.stayUpdated {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.emailSubscription {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.emailInput {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.subscribeButton {
  background-color: #B84234;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.contactAndLinks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.contactInfo {
  display: grid;
  min-width: 250px;
  margin: 10px;
}

.contactInfo h2, .footerSection h2 {
  margin-bottom: 10px;
  text-align: left;
}

.details {
  margin-top: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.contactItem span {
  font-size: 1.5rem;
}

.contactIcon {
  width: 50px;
  height: 50px;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  min-width: 250px;
  margin: 10px;
}

.footerSection {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footerSection h2 {
  margin-bottom: 10px;
}

.footerSection p {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 1.5rem;
  text-align: left;
}

.footerIcons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.iconButton:hover {
  transform: scale(1.2); 
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.icon {
  width: 40px;
  height: 40px;
}

.footerBottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 12px;
}

.footerLink {
  color: #999;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rightSection {
    text-align: center;
    margin-top: 20px;
  }

  .contactAndLinks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
  }
}
